// Division Auto Body - Contact Form & Map
@use "./variables" as v;

.contact-form {
  padding: 40px;
  background-color: v.$dark;

  & label {
    margin-bottom: 0.2rem;
    font-weight: 500;
    color: v.$light;
    text-transform: uppercase;
  }

  & input,
  & textarea {
    background-color: v.$even-bg;
    border-radius: 0; // Aggressive sharp corners
    border: 1px solid v.$primary;
    margin-bottom: 2rem;
    outline: 0;
    padding: 0.5rem;
    transition: v.$transition;
    width: 100%;
    color: v.$light;

    &:focus {
      background-color: v.$odd-bg;
      border-color: v.$light;
    }
  }
}

// Mobile Adjustments for Form
@media only screen and (max-width: 992px) {
  .contact-form {
    & input,
    & textarea {
      margin-bottom: 1rem;
    }
  }
}

//////////
// Working Hours Widget
.working-hours {
  border: 1px solid v.$primary;
  background-color: v.$dark;

  & table {
    margin-bottom: 0;
    width: 100%;

    & .thead > tr > th {
      background-color: v.$even-bg;
      color: v.$primary;
      padding: 10px;
      text-transform: uppercase;
    }

    & tbody > tr > td:first-child {
      font-weight: 500;
      color: v.$light;
    }

    & tbody > tr:nth-child(odd) > td {
      background-color: v.$odd-bg;
    }

    & tbody > tr:nth-child(even) > td {
      background-color: v.$even-bg;
    }
    
    & td {
      padding: 10px;
      color: #ccc;
    }
  }
}

//////////
// Map Widget
.map-widget-container {
  position: relative;
  padding-bottom: 400px !important;
  height: 0;
  overflow: hidden;
  border: 1px solid v.$primary;
  display: block;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-height: 400px !important;
    filter: grayscale(1) contrast(1.2) invert(0.9); // Makes the map look "Dark Mode"
  }
}
