:root,
[data-bs-theme=light] {
  /* Brand Colors */
  --bs-primary: #374162;
  --bs-secondary: #f9d949;
  --bs-success: #105B38;
  --bs-info: #f45050;
  --bs-danger: #9E1A1A;
  --bs-light: #fefefe;
  --bs-dark: #212529;

  /* Typography Defaults */
  --bs-font-sans-serif: "Comic Sans", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  
  /* UI Globals */
  --bs-border-radius: 0.375rem;
  --bs-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  --bs-link-color: #374162;
  --bs-link-decoration: underline;
}
